<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1, user-scalable=no" />
    <title>Today's weahter</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/semantic-ui/2.3.0/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.3.0/semantic.min.js"></script>
</head>
<body>

<div id="app">
    <div class="layout">
        <layout>
            <sider collapsible :collapsed-width="0" v-model="isCollapsed" ref="sider">
                <i-menu active-name="1-1" theme="dark" width="auto" :class="menuitemClasses" @on-select="menuSelect">
                    <menu-item name="1-1">
                        <icon type="home"></icon>
                        <span>主页</span>
                    </menu-item>
                    <menu-item name="1-2">
                        <icon type="settings"></icon>
                        <span>设置</span>
                    </menu-item>
                    <menu-item name="1-3">
                        <icon type="information-circled"></icon>
                        <span>关于</span>
                    </menu-item>
                </i-menu>


            </sider>
            <layout v-show="isCollapsed && show == '1-1'">
                <i-content :style="{margin: '0 40px 40px',paddingTop:'20px'}">
                    <table class="ui celled table" style="width: 70%;margin: auto">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>K/D/A</th>
                        </tr></thead>
                        <tbody>
                        <tr v-for="item in matchlist" @click="getMatchDetails(item.id)">
                            <td style="">{{item.data}}</td>
                            <td style="">{{item.KDA}}</td>
                        </tr>

                        </tbody>

                    </table>
                </i-content>
            </layout>
            <layout v-show="isCollapsed && show == '1-3'">
                <i-content :style="{margin: '0 40px 40px',paddingTop:'20px'}">
                    <div class="aboutMe" style="text-align: center">
                        <img style="width:120px" src="https://avatars3.githubusercontent.com/u/24774313"/><br>
                        <span @click="">@leezikin</span>
                        <div style="width: 40%;margin: auto;margin-top: 30px">
                            本站所使用的API从网络获取。获取与使用行为或有侵犯产品权益的嫌疑。若被告知需停止使用，本人将及时删除此页面。
                        </div>
                        <row type="flex" justify="center">
                            <i-col span="12" style="width: 200px;margin-top: 30px"><a href="https://github.com/leezikin/leezikin.github.io">GitHub</a></i-col>
                            <i-col span="12" style="width: 200px;margin-top: 30px"><a href="mailto:admin@maoa-l.xyz">Email</a></i-col>
                        </row>
                    </div>
                </i-content>
            </layout>
            <layout v-show="isCollapsed && show == '1-2'">
                <i-content :style="{margin: '0 40px 40px',paddingTop:'20px'}">
                </i-content>
            </layout>
        </layout>
    </div>
</div>

</div>
</div>


</body>
</html>

<style scoped>
    .layout-con{
        height: 100%;
        width: 100%;
    }
    .menu-item span{
        display: inline-block;
        overflow: hidden;
        width: 69px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
    }
    .menu-item i{
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }
    .collapsed-menu span{
        width: 0px;
        transition: width .2s ease;
    }
    .collapsed-menu i{
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 60px;
    }
    .ivu-layout-sider-zero-width-trigger{
        top:25px
    }

</style>

<script>
    var ha = new Vue({
        el: '#app',
        data: {
            visible: false,
            isCollapsed: true,
            show:'1-1',
            matchlist:[
                {
                    data:'2018-03-05',
                    KDA:'20-6-2',
                    id:'165163222',
                },
                {
                    data:'2018-03-02',
                    KDA:'10-6-2',
                    id:'165163223',
                },
                {
                    data:'2018-03-05',
                    KDA:'21-7-4',
                    id:'165163224',
                },
                {
                    data:'2018-03-05',
                    KDA:'21-2-5',
                    id:'165163225',
                },
                {
                    data:'2018-03-05',
                    KDA:'21-2-5',
                    id:'165163225',
                },
            ]
        },
        beforeCreate(){
            this.$Loading.start();
        },
        computed: {
            menuitemClasses: function () {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            }
        },
        mounted(){
            this.$Loading.finish();
        },
        methods: {
            getWeather(cityID){
                axios.get('http://dopamine.cf/api/index.php?city=' + cityID).then((res)=>{
                    this.item = res.data.substring(0,res.data.indexOf('<html>'));
                this.item = JSON.parse(this.item);
                if(this.item.code == 200){
                    //console.log(this.item.value[0]);
                    document.cookie="currentCity="+cityID;
                    this.cityName = this.item.value[0].city;
                    this.realWeatherType = this.item.value[0].realtime.weather;
                    this.realTem = this.item.value[0].realtime.temp;
                    var date = new Date() + '';
                    this.day = date.substring(0,3);
                    this.date = date.substring(4,7) + '.' + date.substring(8,11);
                    var temp = this.item.value[0].weatherDetailsInfo.publishTime;
                    this.publishTime = temp.substring(temp.length-8,temp.length-3);
                    this.get3HoursWeather(this.item.value[0].weatherDetailsInfo.weather3HoursDetailsInfos)
                    this.$Loading.finish();
                }
                else{
                    this.$Message.error({
                        content: this.item.message + this.item.code,
                        duration: 10,
                        closable: true
                    });
                    this.$Loading.error();
                    //console.log(this.item.message);

                }

            })
            .catch(function (error) {
                    //console.log(error);
                    ha.$Message.error({
                        content: error,
                        duration: 10,
                        closable: true
                    });
                    ha.$Loading.error();
                });
            },
            menuSelect(name){
                this.show = name;
                this.$refs.sider.toggleCollapse(true);
            },
            getMatchDetails(matchId){
                console.log(matchId);
            },

        }
    });

</script>

